CompileFlags:
  Add:
    - "--target=i686-pc-windows-msvc"
    - "-m32"
    - "-I"
    - "E:/plugin-sdk"
    - "-I"
    - "E:/plugin-sdk/plugin_sa"
    - "-I"
    - "E:/plugin-sdk/plugin_sa/game_sa"
    - "-I"
    - "E:/plugin-sdk/plugin_sa/game_sa/enums"
    - "-I"
    - "E:/plugin-sdk/plugin_sa/game_sa/meta"
    - "-I"
    - "E:/plugin-sdk/plugin_sa/game_sa/rw"
    - "-I"
    - "E:/plugin-sdk/shared"
    - "-I"
    - "E:/plugin-sdk/shared/game"
    - "-I"
    - "E:/plugin-sdk/injector"
    - "-I"
    - "E:/plugin-sdk/safetyhook"
    - "-I"
    - "E:/Modding/ModelExtras/src"
    - "-I"
    - "E:/Modding/ModelExtras/include"
    - "-I"
    - "E:/Modding/ModelExtras/src/features"
    - "-I"
    - "E:/Modding/ModelExtras"
    - "-I"
    - "src"
    - "-I"
    - "include"
    - "-I"
    - "src/features"
    - "-I"
    - "."
    - "-std=c++20"
    - "-DPLUGIN_SGV_10US"
    - "-DMODELEXTRAS_DEV"
    - "-DGTASA"
    - "-DRW"
    - "-DNOMINMAX"
    - "-DWIN32_LEAN_AND_MEAN"
    - "-D_USE_MATH_DEFINES"
    - "-Wno-unused-command-line-argument"
  Remove:
    - "/Yu*"
    - "/Fp*"
    - "/FI*"
    - "-Yu*"
    - "-Fp*"
    - "-FI*"
