[submodule "coreutils"]
	path = include/coreutils
	url = https://github.com/user-grinch/coreutils
[submodule "imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json
[submodule "include/spdlog"]
	path = include/spdlog
	url = https://github.com/gabime/spdlog
